<!doctype html>
<html>
<head> 
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <title>Test</title>

<style>
.container {
  position:center;
  margin: auto;
  margin-top:10px;
  max-width: 740px;
  padding: 60px;
  background-color:#F0F8FF;
}
</style>
</head>
<body style="background-color: #446689;"></br></br></br>
        <div class="container">
	<div class="row">
	<div class="col-md-5">
        <form action="/success" method ="POST" enctype="multipart/form-data">
            <input type="file" id="file" name ="file"/></br></br>
            <label for ="google"> <b>Select Companies you want to check with.</b></label></br></br>
            <input type="checkbox" value="Google" name="mycheckbox"> Google</br></br>
            <input type="checkbox" value="Amazon" name="mycheckbox"> Amazon</br></br>
            <input type="checkbox" value="Flipkart" name="mycheckbox"> Flipkart</br></br>
            <input type="checkbox" value="TCS" name="mycheckbox"> TCS</br></br>
            <input type="checkbox" value="Infosys" name="mycheckbox"> Infosys</br></br>
            <input type="checkbox" value="IBM" name="mycheckbox"> IBM</br></br>
            <input type="submit" value="Upload" class = "btn btn-primary" width ="30" height ="15">
        </form>  
        </div>
        </div>
        </div>
    </body>
</html>

