<!doctype html>
<html>
<head>
<title>success page</title>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">

<style>
	.inset {
	border-style: inset; 
	border-width: 15px;
	border-color: #9AC0CD;
	}
	.borderex {
	  background-color: #F0F8FF;
	  width: 800px;
	  height: 300px;
	  padding: 50px;
	}
      .output-msg {
        color: solid black;
        font-size:20px;
      }
</style>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
<div class="container">
<div class="row">

<div></br></br></br></br></br></br></br>
{% for message in get_flashed_messages() %}
      <div class="inset"> <div class="borderex " > <div class="output-msg">{{ message}}</div> </div> </div> 
{% endfor %}
</br>
</div>
<div class = "col-md-5">
<form action = '/login'>
</br></br>
<label><h5> Do you want to logout??? </h5></label>
<input type ='submit' class = "btn btn-primary" value="Logout">
</form>
</div>
</div> 
</div>
</body>
</html>



